node_modules
*.iml
.idea
*.log*
.nuxt
.vue
.DS_Store
coverage
/dist

# Yarn
**/.yarn/cache
**/.yarn/*state*

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
